@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,800&family=Outfit:wght@200&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

header {
    background-color: #e94848;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-family: 'Bree Serif', serif;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Inter', sans-serif;
    margin: 30px;

}

.justify {
    text-align: justify;
}

.palette h1 {
    color: #e94848;
}

.palette h2 {
    color: #FFA447;
}

.palette p {
    color: #209c69;
}

.background {
    width: 150px;
    height: 150px;
    background-color: #FFFC9B;

}

.typography h1 {
    font-family: 'Bree Serif', serif;
}

.typography h2 {
    font-family: 'Crimson Text', serif;
}

.typography p {
    font-family: 'Kanit', sans-serif;
}

section {
    border: 7px solid #FFA447;
    padding: 50px;
    margin: 20px 0;
}

section h3 {
    font-family: 'Crimson Text', serif;
    color: #f38618;
    font-size: x-large;
}

section img {
    max-width: 100%;
    height: auto;
}



main p {
    color: #666;
}

footer {
    background-color: #B7E5B4;
    color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}