@media screen and (min-width: 500px) {
    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .principal-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .grid-form {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .grid-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}