@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,800&family=Outfit:wght@200&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

/*header*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex img {
    padding-right: 50px;
    padding-left: 50px;
}

main p {
    text-align: justify;
}

img {
    width: 100%;
    height: 500px;
}

/*map*/
.map-container {
    position: relative;
    width: 70%;
    padding-top: 25%;
    /* for contain our map 16:9 aspect ratio (divide 9 by 16 = 0.5625) */
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin-right: 20%;
    margin-left: 20%;

}

/*-----*/
/* switch dark mode*/
.switch {
    background: #343d5b;
    border-radius: 1000px;
    margin: 20px;
    border: none;
    position: relative;
    cursor: pointer;
    /*one next to another*/
    display: flex;
    outline: none;

}

/* sun and moon*/
.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/* insertamos la bolita con una pseudo class*/
.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    /* en referencia a su relative*/
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);


}

.switch.active {
    background: orange;
    color: black;
}

.switch.active::after {
    right: 0;
    left: unset;
}

/*body dark*/
body.dark {
    background-color: hsl(0, 0%, 0%);
    transition: .3s ease all;
}

body.dark header {
    background-color: rgb(10, 10, 80);
    transition: .3s ease all;
}

body.dark nav {
    background-color: #343d5b;
}

body.dark .general-div {
    background-color: #01011a;
}

body.dark .card {
    background-color: rgb(10, 10, 80);
    color: white;
}

body.dark h3 {
    color: #ff8080;
}

body.dark footer {
    background-color: rgb(10, 10, 80);
    color: white;
}

body.dark .colora {
    color: white;

}

body.dark #menu::before {
    content: "☰";
    color: #f1f1f1;
}

/*discover*/
body.dark h2 {
    color: #ca73ca;
}

body.dark .main-image p {
    background-color: #78017c;
    color: white;
}

body.dark #message {
    color: white;
}

/*form*/
body.dark label {
    color: #ca73ca;
}

body.dark form p {
    color: #ca73ca;
}

body.dark h1 {
    color: rgb(224, 247, 255);
}

/*----------------------*/
/* all main img*/
main img {
    max-width: 100%;
    height: auto;
    align-items: center;
}

.home {
    position: relative;
    display: flex;

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
}

/*--------------------------------*/
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #b30000;
    color: black;
    border-radius: 10px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #ca73ca;
    color: #333;
    font-weight: 700;
}

/*wayfind symbols*/
.icon::before {
    content: "🏠";
}

.icon1::before {
    content: "😄";
}

.icon2::before {
    content: "🎉";
}

.icon3::before {
    content: "❤️";
}

.icon4::before {
    content: "💻";
}

.icon5::before {
    content: "🌳";
}

.icon6::before {
    content: "🎂";
}

/*toggle*/
.open a {
    display: block;
}

/*--------------------------------*/
nav a {
    padding: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFC9B;
}

.general-div {
    background-color: orange;
    border-radius: 10px;
}

header {
    background-color: #dd3131;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Bree Serif', serif;
    margin: 20px;
    border-radius: 10px
}

header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


h1 {
    margin: 10px 0;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0;
}

h2 {
    font-size: 1rem;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

h3 {
    color: #b30000;
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

main {
    margin: 20px auto;
    padding: 20px;
}

/* For markers*/


.grid02 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;
}

.grid03 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;

}

.card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFFC9B;
}


footer {
    background-color: rgb(183, 229, 180);
    color: black;
    text-align: center;
    padding: 10px 0;
}

footer h3 {
    color: #b30000;
}


@media (max-width: 600px) {
    header img {
        width: 70px;
        height: 70px;
    }
}


/*form thanks*/
.center {
    text-align: center;
}


/*form css*/
:root {
    --primary-color: #007bff;
    --accent-color: navy;
    --secondary-color: purple;
}

main h1 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);
}

main h2 {
    color: var(--secondary-color);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label,
form p {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 6px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: var(--accent-color);
}

.wf1 input:required {
    border-left: solid 8px red;
}

.wf1 input:required:valid {
    border-left: solid 8px green;
}

/* grid*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
}

/* membership*/
.membership p {
    text-align: left;
    text-decoration: wavy;
    font-size: 0.95rem;

}

.membership h2 {
    font-size: large;
}

.membership h3 {
    font-size: medium;
}


.npm,
.bm,
.sm,
.gm {
    background-color: rgb(204, 238, 250);
    display: grid;
    grid-template-columns: 1fr;
}

.npm div,
.bm div,
.sm div,
.gm div {
    padding: 20px;
    border: 4px dashed rgb(75, 163, 192);
    border-collapse: collapse;
}

/*bronze*/
.bm {
    background-color: rgb(252, 202, 183);
}

.bm div {
    border-color: rgb(156, 96, 73);
}

/*silver*/
.sm {
    background-color: rgba(255, 255, 255, 0.747);
}

.sm div {
    border-color: rgb(100, 100, 100);
}

/*gold*/
.gm {
    background-color: rgb(255, 243, 187);
}

.gm div {
    border-color: rgb(205, 207, 98);
}

/* ------------ discover html---------------------*/
.discover-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

.discover-grid section {
    border: 15px solid orange;
    background-color: #ffcfcf;
    border-radius: 8px;
    padding: 20px;
}

.discover-grid h3 {
    text-align: center;
    margin-bottom: 10px;
}

.discover-grid p {
    text-align: center;
}

.discover-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px #a79a68;
}

/*discover list*/
.discover-list {
    padding: 20px;

}

.discover-list section {

    padding: 3px;
    margin: 20px;
    max-width: 100%;
    text-align: center;
}

.discover-list section:nth-child(odd) {
    background-color: #ffcfcf;
}

.discover-list section:nth-child(even) {
    background-color: #ffbd8f;
}

.discover-list p {
    text-align: center;
    margin: 10px;
    display: inline-block;
}

/*menu*/
.menu {
    text-align: center;
}

.menu button {
    padding: 12px 24px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #d82a2a;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px #a79a68;

}

.menu button:hover {
    background-color: #b30000;
}

.menu button:focus {
    outline: none;
}