:root {
    --primary-color: #007bff;
    --accent-color: navy;
    --secondary-color: purple;
}

main h1 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);
}

#r {
    width: 180px;
    margin-bottom: 0;
}

#rangevalue {
    font-size: 2rem;
    color: var(--accent-color);
}

#rangevalues {
    display: flex;
    margin: 0 0 14px 10px;
    width: 100px;
    color: var(--secondary-color);
    font-size: large;
}

#rangevalues option {
    flex: 1 1 auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: var(--accent-color);
}

.wf1 input:required {
    border-left: solid 8px red;
}

.wf1 input:required:valid {
    border-left: solid 8px green;
}